* {
  text-align: center;
  margin: 0%;
  padding: 0%;
  font-size: 20px;
  background-image: url(/2021.jpg);
  background-attachment: fixed;
  background-size: contain;

  font-family: "Roboto", sans-serif;
}
/* header */

header {
  display: inline;
}
nav {
  color: white;
  float: left;
  margin: 10% 5%;
  font-size: 50px;
  height: 200px;
}
nav > ul > li {
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  margin: 5% 5%;
}

header > img {
  height: 300px;
  width: auto;
  float: right;
  margin: 5% 10%;
}
header > iframe {
  height: 300px;
  width: 700px;
  margin: 0% 10%;
}
/* main */
h2 {
  color: white;
  text-transform: uppercase;
  margin: 5%;
  letter-spacing: 3px;
  font-size: 300%;
}
section {
  margin: 5% 20%;
}
#Formation > img {
  height: 400px;
  width: auto;
  margin: 5% 0%;
}
section > div > img {
  height: 300px;
  width: auto;
  margin: 5% 0%;
}
p > {
  word-spacing: 3px;
}
.compétence > div > li {
  font-weight: bold;
}
section > address {
  color: orange;
  font-weight: bold;
}

/* footer */
footer {
  float: right;
}
footer > img {
  height: 53px;
  width: auto;
}
